* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%) !important;
    color: #5f5f5f;
    padding: 0;
    margin: 0;
}


/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);


/* start navigation */ 

.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
}

.header_area .main-menu .nav-item .nav-link{
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


/* end navigation */ 